body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;;

}
h1 {color: #dd7631;
  font-size: 5.62em;
  padding-top: 80px;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  margin:0;
font-family: 'Montserrat', sans-serif;}
.student{font-weight: normal;
  color: #fc8210;font-size: 2.5rem;}

.top-container {
  background-color: #007944;
}

.middle-container {text-align: left;
  background-color: #b22222;

}

.bottom-container {width: 100%;
background-color: #3c9d9b;
text-align: right;

}
.contact-me{text-align:left;
  padding-left: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #dd7631}

.cloud_bottom{
  position:absolute;
right:800px; }

.cloud_top{position:absolute;
right:400px;
top: 30px;}
.footer-link{color: #6e2142}

.profile{padding-left: 50px;
  width: 50%;
padding-top: 70px;}

.skills{position:relative;
  left: 500px;
  width: 50%;padding-bottom: 100px;}

  .skill-row{width: 50;
  }

 .code-img{padding-right: 20px;
   padding-bottom: 100px;
   width: 20%;
 float: left;
text-align: center;}
 .code-img1{width: 20%;
 float: right;
 }
