body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;;

}
h1 {padding-top: 80px;
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{margin:0;
font-family: 'Montserrat', sans-serif;}

.top-container {
  background-color: #74d4c0;
}

.middle-container {
  background-color: #00909e;

}

.bottom-container {
  background-color: #f6d743;
  
}

.cloud_bottom{position:absolute;
right:800px; }

.cloud_top{position:absolute;
right:400px;
top: 30px;}
